@font-face {
    font-family: JetBrainMonoBold;
    src: url(fonts/JetBrainsMono-Bold.ttf);
}
@font-face {
    font-family: JetBrainMonoMedium;
    src: url(fonts/JetBrainsMono-Medium.ttf);
}
@font-face {
    font-family: Tahoma;
    src: url(fonts/tahoma.ttf);
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    background-color: none;
    text-decoration: none;
}

body {
    width:100%;
    background-color: #fcfcfc;
}

.sky-blue-background{
    background-color: #68C6E0;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(pics/possessed-photography-DqpPwAC3QVY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

header{
    height: 5%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
    z-index: 100;
}

header.scrolling{
    background-color: #282254;
}

.header-left{
    margin-left: 5%;
}

.logo_header{
    height: 1.8rem;
    cursor: pointer;
}

.header-right{
    margin-right: 5%;
    font-family: JetBrainMonoBold;
    font-size: 1.8rem;
    margin-right: 5%;
    color: white;
}

.nav{
    font-family: JetBrainMonoBold;
    font-size: 1.8rem;
    margin-right: 5%;
    border: none;
    background-color: none;
    cursor: pointer;
    color:white;
}

.front-page{
    height: 90vh;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    margin-left: 5%;
}

.h1-title-front{
    font-family: JetBrainMonoBold;
    font-size: 5rem;
    color: white;
    letter-spacing: 0.3rem;
}

.h2-subtitle-front{
    font-family: JetBrainMonoBold;
    font-size: 2.6rem;
    color: #68C6E0;
    letter-spacing: 0.2rem;
    margin-top: 2.5rem;
}

.get-forecasts{
    font-family: JetBrainMonoBold;
    font-size: 1.5rem;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 1rem 1.2rem;
    display: inline-block;
    text-align: center;
    border-radius: 1rem;
    margin-top: 3.5rem;
    cursor: pointer;
}

.our-numbers{
    margin-left: 5%;
    margin-top: 7.5%;
}

.h1-title{
    font-family: JetBrainMonoBold;
    font-size: 5rem;
    color: #68C6E0;
}

.h1-title-dark{
    font-family: JetBrainMonoBold;
    font-size: 5rem;
    color:#282254;
}

.h1-title-white{
    font-family: JetBrainMonoBold;
    font-size: 5rem;
    color: white;
}

.logo_numbers{
    height: 3.5rem;
    margin-top: 2rem;
}

.hardhitting{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 20%;
    margin-right: 5%;
    justify-content: space-between;
    row-gap: 25%;
    column-gap: 6%;
}

.number-box{
    border-width: 1px;
    border-left: #68C6E0;
    border-style: solid;
    padding-left: 20px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hightlight{
    font-family: JetBrainMonoBold;
    font-size: 2.5rem;
    color: #282254;
}

.demand{
    font-family: JetBrainMonoBold;
    font-size: 2.5rem;
    color:white;
}

.solar{
    font-family: JetBrainMonoBold;
    font-size: 2.5rem;
    color:white;
}

.wind{
    font-family: JetBrainMonoBold;
    font-size: 2.5rem;
    color:white;
}

.normal-text{
    font-family: Tahoma;
    font-size:1.2rem;
    color: #282254;
}

.our-mission{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 5%;
    margin-top: 12%;
    background-color:#68C6E0;
}

.logo-mission{
    height: 3.5rem;
    margin-top: 2rem;
}

.h2-subtitle{
    font-family: JetBrainMonoBold;
    font-size: 1.8rem;
    color: #68C6E0;
    margin-top: 4rem;
}

.h2-subtitle-dark{
    font-family: JetBrainMonoBold;
    font-size: 1.8rem;
    color:#282254;
    margin-top: 4rem;
}

.h2-subtitle-white{
    font-family: JetBrainMonoBold;
    font-size: 1.8rem;
    color:white;
    margin-top: 4rem;
}

.our-mission-left{
    width: 350px;
    margin-bottom: 0;
}

.our-mission-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 1.5rem;
    margin-left: 9%;
    font-family: Tahoma;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color:#282254;
}

.to-achive{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.to-achive-left{
    width: 350px;
}

.logo-achieve{
    height: 3.5rem;
    margin-top: 2rem;
}

.to-achive-cards{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2.5rem;
}

.photo-achieve{
    flex: 1;
    border-radius: 1rem;
    background-image: url(pics/levan-badzgaradze-ze-pePgkLjg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 2.5rem;
}

.card{
    display: flex;
    align-items: center;
    height: 12rem;
    font-family: JetBrainMonoBold;
    font-size: 2rem;
    color: #282254;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    border-color: #282254;
    margin-left: 23.5%;

    padding-left:1.5rem;
    padding-right: 1.5rem;
    transition: background-color 0.3s;
    transition: border-color 0.3s;
}

.card:hover{
    font-size: 0;
    background-color: #68C6E0;
    border-color: #68C6E0;
}
.card:hover::after{
    content: attr(data-hover);
    font-family: Tahoma;
    font-size: 1.2rem;
    color: white;
}

.our-products{
    margin-top: 7%;
    margin-left: 5%;
    padding-top: 5%;

}

.normal-text-white{
    font-family: Tahoma;
    font-size: 1.4rem;
    color:white;
    padding-top: 0.5rem;
}

.normal-text-skyblue{
    font-family: Tahoma;
    font-size: 1.4rem;
    color:#68C6E0;
    padding-top: 0.5rem;
}

.products-graphic{
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 2rem;
    margin-bottom: 0;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2rem;
    margin-top: 0;
    padding-bottom: 5%;
}

.products-description{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.normal-text-3{
    font-family: Tahoma;
    font-size: 1.2rem;
    color:white;
    text-align: center;
    margin-top: 2rem;
    padding-right: 7%;
    padding-left: 7%;
    line-height: 2rem;
}

.normal-text-3-1{
    border-width: 1px;
    border-left: white;
    border-right: white;
    border-style: solid;
    border-top: none;
    border-bottom: none;
}

.contact-us{
    display: flex;
    flex-direction: row;
    padding-top: 8%;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    column-gap: 6%;
    margin-bottom: 7%;
}
.contact-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.field-short{
    background-color: #dddddd;
    border-radius: 1rem;
    border: none;
    outline:none;
    height: 3.5rem;
    margin-top: 2rem;
    padding-left: 2rem;
    font-family: JetBrainMonoBold;
    font-size: 1.4rem;
    color: #282254;
}

.field-high{
    background-color: #dddddd;
    border-radius: 1rem;
    border: none;
    outline: none;
    height: 20rem;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    font-family: JetBrainMonoBold;
    font-size: 1.4rem;
    color: #282254;
}

.field-short::placeholder{
    color: #8d8d8d;
}
.field-high::placeholder{
    color: #8d8d8d;
}

.send-button{
    font-family: JetBrainMonoBold;
    font-size: 1.5rem;
    color: #282254;
    border-style: solid;
    border-width: 1px;
    border-color: #282254;
    padding: 0.9rem 0.7rem;
    width: 10rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: 2rem;
    background-color: transparent;
    cursor: pointer;
}
.contact-own{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
}

.logo-long{
    width: 200px;
    margin-bottom: 20px;
}

.tel-mail{
    font-family: JetBrainMonoBold;
    font-size: 1.4rem;
    color: #282254;
    margin-top: 0.5rem;
}

.In{
    margin-top: 25px;
    width: 30px;
}

.footer{
    font-family: JetBrainMonoBold;
    font-size: 1.4rem;
    color:#68C6E0;
    text-align: center;
    margin: 2rem;
}

/* mobile version */

@media only screen and (max-width: 600px) {
    .h1-title-front{
        font-family: JetBrainMonoBold;
        font-size: 3.5rem;
        color: white;
        letter-spacing: 0.3rem;
    }

    .h1-title-white{
        color:#68C6E0;
    }

    .normal-text-white{
        color:#68C6E0;
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .sky-blue-background{
        background-color:transparent;
    }
    
    .h2-subtitle-front{
        font-family: JetBrainMonoBold;
        font-size: 2rem;
        color: #68C6E0;
        letter-spacing: 0.2rem;
        margin-top: 2.5rem;
    }

    .h1-title{
        font-family: JetBrainMonoBold;
        font-size: 3.5rem;
        color: #68C6E0;
    }

    .normal-text-skyblue{
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .to-achive {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
    }

    .hightlight{
        font-size: 2rem;
    }    

    .logo_numbers{
        height: 2.5rem;
        margin-top: 1rem;
    }

    .our-mission{
        flex-direction: column;
        height: auto;
        margin-top: 18%;
    }

    .logo-mission{
        height: 2.5rem;
        margin-top: 1rem;
    }
    

    .h2-subtitle{
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .h2-subtitle-dark{
        font-size: 1.6rem;
        margin-top: 1.5rem;
    }

    .our-mission-left{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .our-mission-right{
        margin: 0;
        font-size: 1.2rem;
        line-height: 2.2rem;
        row-gap: 1rem;
    }

    .to-achive{
        margin-top: 10%;
        margin-left: 0;
        margin-right: 0;
    }

    .to-achive-left{
        margin: 0 5%;
        width: 90vw;
    }

    .logo-achieve{
        height: 2.5rem;
        margin-top: 1rem;
    }

    .to-achive-cards{
        margin-top: 2rem;
        padding-top: 5%;
        padding-bottom: 5%;
        background-size: cover;
        background-position: center;
        background-image: url(pics/levan-badzgaradze-ze-pePgkLjg-unsplash.jpg);
    }

    .card{
        margin: 0 5%;
    }

    .our-products{
        margin-right: 5%;
    }

    .products{
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: #282254;
        margin: 2rem 0 0 0;
        padding:0;
    }
    
    .products-description{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 2rem;
        padding-bottom: 5%;
    }
    
    .demand {
        background-image: url(pics/demand-65.png);
        background-position: right;
        background-size: cover;
        width: 95%;
        font-family: JetBrainMonoBold;
        font-size: 2rem;
        color:#68C6E0;
        height: 40px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.2rem;
        padding-left: 5%;
        margin: 0;
    }

    .solar {
        background-image: url(pics/solar-66.png);
        background-position: right;
        background-size: cover;
        width: 95%;
        font-family: JetBrainMonoBold;
        font-size: 2rem;
        color:#68C6E0;
        height: 40px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.2rem;
        padding-left: 5%;
        margin: 0;
    }

    .wind {
        background-image: url(pics/wind-67.png);
        background-position: right;
        background-size: cover;
        width: 95%;
        font-family: JetBrainMonoBold;
        font-size: 2rem;
        color:#68C6E0;
        height: 40px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.2rem;
        padding-left: 5%;
        margin: 0;
    }

    .normal-text-3{
        text-align: left;
        margin-top: 1rem;
        color: white;
    }

    .normal-text-3-1{
        border: none;
        margin-top: 1rem;
    }

    .contact-us{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-between;
        column-gap: 6%;
        margin-bottom: 4%;
    }

    .logo-long{
        margin-top: 12%;
    }

    .products-graphic{
        display: none;
    }    

    .hightlight1{
        font-family: JetBrainMonoBold;
        font-size: 2rem;
        color:#68C6E0;
    }

    .contact-own{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

}
@media (max-width: 1000px) {
    .hardhitting {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 5%;
        margin-right: 5%;
        row-gap:20%;
        column-gap:0;
        margin-top:5%
    }  

    .number-box{
        border-width: 1px;
        border-left: #68C6E0;
        border-style: solid;
        padding-left: 20px;
        border-top: none;
        border-bottom: none;
        border-right: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }







}

